<section class="m-1">
  <a href="/cupons/novo" class="btn btn-dark">
    <i class="bi bi-plus"></i>
    Criar cupom
  </a>
  <hr />
  <form method="GET">
    <input
      type="text"
      name="nomeCupom"
      placeholder="Nome do cupom"
      class="form-control form-control-sm"
      value="{{nomeCupom}}"
      required
    />
    <button class="btn btn-sm btn-dark mt-1">
      <i class="bi bi-search"></i>
      Buscar
    </button>
  </form>
  <div class="container">
    <div class="row align-items-center">
      {{#each cupons}} 
        <div class="mx-auto col-l-3 col-lg-3 col-md-6 col-sm-6">
          <div class="card bg-dark mt-3 py-2 text-light mb-3 text-center">
            <div class="card-body">
              <h4 class="text-warning">Cupom</h4>
              <p>{{this.nomeCupom}}</p>
              <h4 class="text-warning">Valor</h4>
              <p>{{this.desconto}}</p>
              <h4 class="text-warning">Descrição</h4>
              <p>{{this.descricao}}</p>
              <h4 class="text-warning">Validade</h4>
              <p>{{this.validade}}</p>
              <div class="d-flex justify-content-center">
                <div>
                  <a
                    href="/cupons/editar/{{this._id}}"
                    class="btn btn-lg btn-warning mx-1 p-2" 
                  >
                    <i class="bi bi-pencil"></i>
                  </a>
                </div>
                <div>
                  <form action="/cupons/deletar" method="POST">
                    <input type="hidden" name="id" value="{{this._id}}" />
                    <button class="btn btn-sm btn-primary p-2 px-4"> Usar
                      {{!-- <i class="bi bi-trash"></i> --}}
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>