<section class="m-1">
  <a href="/produtos/novo" class="btn btn-dark">
    <i class="bi bi-plus">Criar produto</i>
  </a>
  <hr/>
   <form method="GET">
    <input type="text" name="nomeProduto"placeholder="Nome do produto" class="form-control form-control-sm" value="{{nomeProduto}}" >
    <button class="btn btn-sm btn-dark mt-1"><i class="bi bi-search"></i>Buscar</button>
  </form>
  <table class="table">
    <thead>
      <th>Nome</th>
      <th>Preço</th>
      <th>Descrição</th>
      <th>Quantidade</th>
      <th>Ações</th>
    </thead>
    <tbody>
      {{#each produtos}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.price}} </td>
          <td>{{this.description}} </td>
          <td>{{this.quantity}} </td>
          <td>
            <div class="d-flex">
            <div>
              <a href="/produtos/editar/{{this._id}}" class="btn btn-sm btn-warning mx-1">
                <i class="bi bi-pencil"></i>
              </a>
            </div>
            <div>
              <form action="/produtos/deletar" method="POST">
                <input name="id" type="hidden" value="{{this._id}}" />
                <button class="btn btn-sm btn-danger">
                  <i class="bi bi-trash"></i>
                </button>
              </form>
            </div>
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>